@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway:wght@400;

500;600;700&display=swap");
@font-face {
  font-family: BriosoPro Italic;
  font-display: swap;
  src: url("../fonts/BriosoPro Italic.woff2") format("woff2"), url("../fonts/BriosoPro Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Italic.woff2") format("woff2"), url("../fonts/RobotoCondensed-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -7.5px;
}

.header__icon {
  margin: 0 7.5px;
  width: 24px;
  height: 24px;
  display: block;
}

.header__icon img {
  width: 100%;
  height: 100%;
}

.header__tel {
  background: url(../img/phone.svg) left no-repeat;
  padding-left: 30px;
  font-family: Lato;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d4a39;
  margin-left: 63px;
}

.menu__bot {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  background: #ae7b3c;
  -webkit-box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
  padding: 22px 52px;
  text-align: center;
  margin: 20px auto;
  display: block;
  width: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.menu__hidden {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__list.active {
  right: 0;
}

.menu__list li {
  margin: 0 20px;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #282b22;
}

.menu__burger {
  position: relative;
  height: 20px;
  width: 25px;
  display: none;
  cursor: pointer;
}

.menu__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.menu__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.menu__burger.active span {
  display: none;
}

.menu__burger:before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #282B22;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__burger:after {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #282B22;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__burger span {
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  background: #282B22;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  border-top: 1px solid rgba(40, 43, 34, 0.2);
  padding-bottom: 20px;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-top: 40px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
  padding-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

body {
  font-family: "Raleway", sans-serif;
  color: #282b22;
}

.main {
  position: relative;
}

.no-webp .main__slider{
  background-image: url(../img/bg.png); }

.main__slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  padding-top: 120px;
}

.main__title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  max-width: 527px;
  color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
}

.main__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.8;
  margin: 20px auto 50px;
  text-align: center;
  max-width: 537px;
  color: #fff;
}

.main__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  background: #ae7b3c;
  -webkit-box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
  padding: 22px 52px;
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.main__button:hover {
  background: #8f6a3d;
}

.main__line {
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0.4;
  margin-top: 120px;
  margin-bottom: 100px;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Стрелка */

.main .slick-arrow {
  position: absolute;
  bottom: 50px;
  font-size: 0;
  display: block;
  width: 20px;
  height: 15px;
  z-index: 20;
  border: 0;
  cursor: pointer;
}

/* Стрелка влево */

.no-webp .main .slick-prev{
  background: url(../img/prev.png) no-repeat center; }

.main .slick-prev {
  left: 17%;
}

/* Стрелка вправо */

.no-webp .main .slick-next{
  background: url(../img/next.png) no-repeat center; }

.main .slick-next {
  left: 19%;
}

/* Точки (булиты) */

.main .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 17%;
}

.main .slick-dots li {
  margin: 0 7px;
}

/* Активная точка */

.main .slick-dots li.slick-active button {
  opacity: 1;
}

/* Элемент точки */

.main .slick-dots li button {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: inherit;
  color: white;
  cursor: pointer;
  opacity: 0.3;
}

.base {
  padding: 140px 0;
}

.base__title {
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-transform: uppercase;
  color: #282b22;
  margin-bottom: 80px;
}

.base__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.base__item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 60px;
}

.base__item::before {
  content: "";
  position: absolute;
  width: 2px;
  opacity: 0.2;
  height: 100%;
  background: #282b22;
  left: 0;
  top: 0;
}

.base__item:last-child {
  padding-right: 35px;
}

.base__item:last-child::after {
  content: "";
  position: absolute;
  width: 2px;
  opacity: 0.2;
  height: 100%;
  background: #282b22;
  right: 0;
  top: 0;
}

.base__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #282b22;
  opacity: 0.5;
  margin-bottom: 60px;
}

.base__sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #3d4a39;
  margin-bottom: 30px;
}

.base__img {
  max-width: 333px;
  height: 320px;
}

.base__img img {
  height: 100%;
  width: 100%;
}

.we {
  padding: 100px 0;
  background: #3d4a39;
}

.we__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.we__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.we__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  text-align: center;
  margin-top: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we__img {
  height: 96px;
}

.we__sub-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.5;
  max-width: 280px;
  margin: 0 auto;
}

.project {
  padding: 140px 0;
  position: relative;
}

.project__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #282b22;
  text-align: center;
  max-width: 815px;
  margin: 0 auto 80px;
}

.project__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 465px);
  height: 1px;
  width: 930px;
  background: #282b22;
  opacity: 0.2;
}

.project__body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 600px);
  height: 1px;
  width: 1200px;
  background: #282b22;
  opacity: 0.2;
}

.project__line {
  background: #282b22;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0.2;
}

.no-webp .project__column{
  background: url(../img/circle.png) left top no-repeat; }

.project__column {
  padding-left: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #282b22;
  opacity: 0.8;
}

.project__abs {
  position: absolute;
  left: 10%;
  top: 5%;
}

.project__abs-2 {
  position: absolute;
  right: 12%;
  top: 13%;
}

.project__sub-title {
  margin-top: 140px;
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-align: center;
  color: #282b22;
  margin-bottom: 80px;
}

.project__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  position: relative;
}

.project__wrapper:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #282b22;
  opacity: 0.2;
}

.project__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #282b22;
  opacity: 0.2;
}

.project__li {
  position: absolute;
  width: 1px;
  height: 124px;
  background: #282b22;
  opacity: 0.2;
  bottom: 0;
  left: 50%;
}

.project__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  opacity: 0.3;
}

.project__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.project__wrap:last-child {
  padding-left: 90px;
}

.project__mob {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #000;
  margin-bottom: 10px;
}

.project__text {
  font-size: 16px;
  line-height: 135%;
  opacity: 0.8;
  max-width: 520px;
}

.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}

.no-webp .upload-file__label{
  background: url(../img/file.png) left no-repeat; }

.upload-file__label {
  padding-left: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.5;
}

.talk {
  background: #3d4a39;
  position: relative;
  padding: 100px 0;
}

.talk__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 330px;
          flex: 0 1 330px;
}

.talk__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.talk__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;
}

.talk__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 20px;
  margin-bottom: 40px;
}

.talk__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.talk__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.talk__input {
  background: inherit;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #ffffff;
  opacity: 0.5;
  width: 100%;
  padding-bottom: 5px;
}

.talk__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #ffffff;
  opacity: 0.5;
}

.talk__input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #ffffff;
  opacity: 0.5;
}

.talk__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #ffffff;
  opacity: 0.5;
}

.talk__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #ffffff;
  opacity: 0.5;
}

.talk__input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #ffffff;
  opacity: 0.5;
}

.talk__button {
  display: block;
  background: #ae7b3c;
  -webkit-box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #ffffff;
  margin-top: 40px;
  border: 0;
  cursor: pointer;
  margin-bottom: 30px;
}

.talk__button:hover {
  background: #8f6a3d;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: #ffffff;
}

.checkbox + label:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ffffff;
}

.no-webp .checkbox:checked + label:before{
  background: url(../img/Re.png) center no-repeat; }

.work {
  padding: 140px 0;
}

.work__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(40, 43, 34, 0.3);
  padding-bottom: 100px;
  margin: 0 -20px;
}

.work__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 0 20px;
}

.work__number {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(40, 43, 34, 0.3);
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;
  color: #3d4a39;
  margin-bottom: 53px;
}

.work__sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 15px;
}

.work__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  opacity: 0.8;
}

.now {
  padding-bottom: 140px;
}

.now__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 50px;
}

.now__slider {
  padding: 0 -20px;
  position: relative;
}

.now__slide {
  margin: 0 20px;
  width: 600px;
  position: relative;
}

.now__img-wrap {
  position: relative;
  width: 100%;
  height: 340px;
  background: rgba(61, 74, 57, 0.7);
  z-index: 100;
}

.now__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
  display: block;
}

.now__sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.now__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.5;
}

.slick-center .now__img-wrap {
  background: none;
}

/* Стрелка */

.now .slick-arrow {
  position: absolute;
  top: 35%;
  font-size: 0;
  display: block;
  width: 60px;
  height: 60px;
  z-index: 20;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
}

/* Стрелка влево */

.no-webp .now .slick-prev{
  background: #fff url(../img/arrowblack.png) no-repeat center; }

.now .slick-prev {
  left: 50%;
  margin-left: -450px;
}

/* Стрелка вправо */

.no-webp .now .slick-next{
  background: #fff url(../img/arrowblack.png) no-repeat center; }

.now .slick-next {
  margin-right: -440px;
  right: 50%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gift {
  background: #f3f3f3;
  padding: 100px 0;
}

.gift__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gift__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gift__img {
  margin-bottom: -20px;
}

.no-webp .gift__text{
  background: url(../img/Ve.png) left no-repeat; }

.gift__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: #3d4a39;
  display: inline-block;
  margin: 0 auto;
  padding-left: 30px;
}

.gift__center {
  max-width: 362px;
  text-align: center;
  margin: 0 auto;
}

.gift__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}

.gift__sub-title {
  font-size: 16px;
  line-height: 135%;
  margin-bottom: 40px;
}

.gift__btn {
  background: #ae7b3c;
  -webkit-box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  display: inline-block;
  padding: 22px 66px;
}

.brends {
  padding: 140px 0;
}

.brends__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  margin-bottom: 60px;
  text-align: center;
}

.brends__slider {
  position: relative;
}

.brends__brd {
  border: 1px solid rgba(40, 43, 34, 0.2);
  max-width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 90px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brends .slick-arrow {
  position: absolute;
  top: 130px;
  font-size: 0;
  display: block;
  width: 60px;
  height: 60px;
  z-index: 20;
  cursor: pointer;
  border: 1px solid #3d4a39;
  border-radius: 50%;
  left: 50%;
}

/* Стрелка влево */

.no-webp .brends .slick-prev{
  background: url(../img/arrowblack.png) no-repeat center; }

.brends .slick-prev {
  margin-left: -80px;
}

/* Стрелка вправо */

.no-webp .brends .slick-next{
  background: url(../img/arrowblack.png) no-repeat center; }

.brends .slick-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 25px;
}

.bottom {
  padding: 100px 0;
}

.bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom__ringo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.bottom__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.bottom__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #282b22;
  opacity: 0.5;
  margin-right: 3px;
}

.bottom__social {
  margin-left: 5px;
}

.bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.bottom__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 30px;
  color: #282b22;
}

.bottom__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.bottom__number {
  display: block;
  background: url(../img/phone.svg) left no-repeat;
  padding-left: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d4a39;
  margin-bottom: 30px;
}

.bottom__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  display: inline-block;
  background: #AE7B3C;
  padding: 22px 46px;
  width: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1860px) {
  .project__abs {
    display: none;
  }

  .project__abs-2 {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .talk__img img {
    width: auto;
  }
}

@media screen and (max-width: 1300px) {
  .main .slick-arrow {
    display: none !important;
  }

  .main .slick-dots {
    width: 140px;
    left: 50%;
    margin-left: -70px;
  }
}

@media screen and (max-width: 1185px) {
  .base {
    padding: 30px 0;
  }
}

@media screen and (max-width: 1030px) {
  .header {
    padding: 10px 0;
  }

  .menu__list {
    margin: 0;
    position: absolute;
    right: -100%;
    top: 77px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 50%;
    background: #fff;
    z-index: 20;
  }

  .menu__list li {
    margin-top: 20px;
  }

  .menu__burger {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .project {
    padding: 80px 0;
  }

  .work__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 930px) {
  .bottom__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bottom__ringo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .bottom__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .bottom__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
  }

  .bottom__number {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .now__img-wrap {
    background: none;
  }

  .now .slick-prev {
    margin-left: 0;
    left: 7%;
  }

  .now .slick-next {
    margin-right: 0;
    right: 7%;
  }

  .gift {
    padding: 50px 0;
  }

  .gift__column {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .base__item:last-child::after {
    display: none;
  }

  .base__item:last-child {
    padding-right: 0;
  }

  .we__sub-title {
    font-size: 17px;
  }
}

@media screen and (max-width: 762px) {
  .talk {
    padding: 50px 0 0;
  }

  .talk__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .talk__img img {
    width: 100%;
  }

  .talk__img {
    position: static;
    width: 110%;
    margin: 60px -20px 0 -20px;
    height: 496px;
  }
}

@media screen and (max-width: 690px) {
  .project__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }

  .project__body::before {
    width: 100%;
    left: 0;
  }

  .project__body::after {
    width: 100%;
    left: 0;
  }

  .project__line {
    height: 1px;
    width: 100%;
    left: 0;
    top: 50%;
  }

  .project__column {
    margin: 30px 0;
    font-size: 16px;
  }

  .project__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }

  .project__li {
    display: none;
  }

  .project__number {
    margin-bottom: -60px;
    font-size: 20px;
  }

  .project__wrap:last-child {
    padding-left: 50px;
  }

  .project__mob {
    font-size: 20px;
  }

  .project__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .header__contacts {
    display: none;
  }

  .header__icons {
    margin-left: 10px;
    margin-top: 20px;
  }

  .header__tel {
    margin-left: 10px;
    margin-top: 150px;
  }

  .menu__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__list {
    width: 100%;
  }

  .project__title {
    font-size: 20px;
  }

  .project__sub-title {
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .talk__title {
    font-size: 30px;
  }

  .talk__text {
    font-size: 14px;
  }

  .checkbox + label {
    padding-left: 25px;
    font-size: 11px;
  }

  .work {
    padding: 40px 0;
  }

  .work__title {
    font-size: 30px;
    margin-bottom: 60px;
  }

  .work__wrapper {
    border: none;
    padding-bottom: 0;
  }

  .work__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .now__title {
    font-size: 30px;
  }

  .gift__title {
    font-size: 30px;
  }

  .gift__sub-title {
    font-size: 14px;
  }

  .gift__btn {
    font-size: 14px;
  }

  .brends {
    padding: 40px 0 140px 0;
  }

  .brends__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .we__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (max-width: 550px) {
  .bottom {
    padding: 50px 0;
  }

  .bottom__ringo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 55px;
  }

  .bottom__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .bottom__link {
    font-size: 15px;
  }

  .bottom__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .bottom__number {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .main__slider {
    padding-top: 50px;
  }

  .main__title {
    font-size: 35px;
  }

  .main__text {
    font-size: 18px;
  }

  .main__line {
    margin-top: 50px;
  }

  .base__title {
    font-size: 35px;
    margin-bottom: 40px;
  }

  .base__item {
    padding-left: 20px;
  }

  .base__number {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .base__sub-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .we {
    padding: 50px 0;
  }

  .we__title {
    font-size: 30px;
  }

  .now__img-wrap {
    height: 270px;
  }

  .now__img {
    height: 270px;
  }
}

@media screen and (max-width: 450px) {
  .talk__img {
    position: static;
    width: 120%;
    margin: 60px -20px 0 -20px;
    height: 350px;
  }
}

@media screen and (max-width: 400px) {
  .base__img {
    height: auto;
  }
}

.webp .main__slider{ background-image: url(../img/bg.webp); }

.webp .main .slick-prev{ background: url(../img/prev.webp) no-repeat center; }

.webp .main .slick-next{ background: url(../img/next.webp) no-repeat center; }

.webp .project__column{ background: url(../img/circle.webp) left top no-repeat; }

.webp .upload-file__label{ background: url(../img/file.webp) left no-repeat; }

.webp .checkbox:checked + label:before{ background: url(../img/Re.webp) center no-repeat; }

.webp .now .slick-prev{ background: #fff url(../img/arrowblack.webp) no-repeat center; }

.webp .now .slick-next{ background: #fff url(../img/arrowblack.webp) no-repeat center; }

.webp .gift__text{ background: url(../img/Ve.webp) left no-repeat; }

.webp .brends .slick-prev{ background: url(../img/arrowblack.webp) no-repeat center; }

.webp .brends .slick-next{ background: url(../img/arrowblack.webp) no-repeat center; }